<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @college.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @college.age %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @college.dept %>
</p>

<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
